.background-custom {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow   : 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow        : 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background        : #294684 url(../img/fundobarra.jpg) !important;
}

span.draw-row {
    width     : 100% !important;
    display   : block !important;
    background: #00000033 !important;
    height    : 1px !important;
}

.w-fix {
    max-width: max-content !important;
}

.number_ready_only {
    width: 45px !important;
}

.borderless,
.borderless:hover,
.borderless:focus {
    border: none !important;
    border-block: none!important;
    border-inline-style: none!important;
    border-color: transparent!important;
}
.dataTables_wrapper{
    width: 100%!important;
}